<div class="modal fade" id="orderDetailModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_customerName_header">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="orderUpdateForm" method="POST">
                <div class="modal-body">
                    <div id="main_content_container">
                        <p class="text-center text-muted">Loading order details...</p>
                    </div>
                </div>
                <div class="modal-footer" id="modal_footer">
                    <button type="button" class="btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>