<div class="modal fade" id="productDetailModal" tabindex="-1" aria-labelledby="productDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row g-0">
          <div class="col-md-7">
            <img src="" id="modalProductImage" class="img-fluid" style="width: 100%; height: 500px; object-fit: contain;">
          </div>
          <div class="col-md-5 d-flex flex-column p-4">
            <h3 id="modalProductName"></h3>
            <p id="modalProductDescription" class="flex-grow-1"></p>
            <button type="button" class="btn btn-secondary align-self-end" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>